*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}
.body_container_id{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.body_container_id.hide{
    display: none;
}
.body_container_id.unhide_overflow_y{
    overflow-y: visible;
}
.main_container.bodyhidden{
    display: none;
    height: 100vh;
    overflow: hidden;
}
.main_container.unhide{
    visibility: visible;
}
.preloader_container{
    z-index: 5;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.preloader_container h3{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.span_dots_container{
    letter-spacing: 8px;
}
.span_dots_container .first_dot{
    animation: loader_dot_opacity 1.20s 0s infinite;
}
.span_dots_container .second_dot{
    animation: loader_dot2_opacity 1.20s 0s infinite;
}
.span_dots_container .third_dot{
    animation: loader_dot3_opacity 1.20s 0s infinite;
}
@keyframes loader_dot_opacity {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loader_dot2_opacity {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loader_dot3_opacity {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.preloader_container.hide{
    visibility: hidden;
}
.informatica_mdm_project_div_slide{
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.informatica_mdm_project_div_slide.show{
    display: flex;
    flex-direction: column;
}
.informatica_mdm_project_div_slide_parent_content_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.informatica_mdm_project_div_slide_content_container{
    width: 80%;
}
.role_container{
    width: 100%;
    padding: 1em 0;
}
.role_title_header{
    display: flex;
    align-items: center;
    font-size: 1.60em;
    font-weight: bold;
}
.role_accomplishments_header,.role_skill_header,.role_certificate_header{
    font-size: 1.60em;
    font-weight: bold;
}
.role_title_header span,.role_accomplishments_points{
    font-size: 0.75em;
    font-weight: lighter;
}
.role_skill_header h4,.role_certificate_header h3{
    font-size: 0.6em;
}
.role_title,.role_accomplishments,.role_skill,.role_certificate{
    text-decoration: underline;
}
.role_accomplishments_points,.role_certificate_header h3,.role_skill_header h4{
    width: 90%;
    margin-left: 10%;
}
.informatica_mdm_project_div_slide_header{
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    border-bottom: 2px solid black;
}
.informatica_mdm_project_div_slide_header h2{
    color: rebeccapurple;
    font-size: 2em;
    font-weight: bold;
}
.crossButton{
    background-color: salmon;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 2em;
    padding: 0 1em;
}
.main_container_parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main_container{
    width: 95%;
    visibility: hidden;
}
.header_container{
    display: flex;
    justify-content: space-between;
}
.logo_container{
    display: flex;
    padding: 1em;
}
.logo_symbol_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 5px;
    font-weight: bolder;
}
.column_name_container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_name{
    font-size: 1.3em;
    font-weight: bold;
}
.logo_role{
    font-size: 1.2em;
    font-weight: 100;
}
.inline_menu_container{
    display: flex;
    align-items: center;
}
.menu_button_container{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    justify-content: center;
}
.menu_button_line1,.menu_button_line2,.menu_button_line3,
.menu_button_line_wbg_1,.menu_button_line_wbg_2,.menu_button_line_wbg_3{
    width: 22px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 3px;
    transition: 0.3s linear;
}
.menu_button_line1.active,.menu_button_line_wbg_1{
    transform: translateY(1.25px) rotate(45deg);
    margin-bottom: 0;
}
.menu_button_line_wbg_1.active,.menu_button_line_wbg_3.active{
    animation: reverseAnimationLine13 0.5s linear;
}
@keyframes reverseAnimationLine13 {
    0%{

    }
    50%{
        transform: translateY(0) rotate(0);
        margin-bottom: 3px;
    }
    100%{
        transform: translateY(0) rotate(0);
        margin-bottom: 3px;
    }
}
.menu_button_line2.active,.menu_button_line_wbg_2{
    display: none;
    margin-bottom: 0;
}
.menu_button_line_wbg_2{
    display: block;
    position: absolute;
    bottom: 9.5px;
    opacity: 0;
}
.menu_button_line_wbg_2.active{
    animation: reverseAnimationLine2 0.5s linear;
}
@keyframes reverseAnimationLine2 {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.menu_button_line3.active,.menu_button_line_wbg_3{
    transform: translateY(-1.25px) rotate(-45deg);
    margin-bottom: 0;
}
.menu_button{
    border: none;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.menu_button_black_template_animation_div{
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: 0.5s 0.5s linear;
    transform: translateY(-100%);
    overflow: hidden;
}
.menu_button_black_template_animation_div.active{
    transform: translateY(0%);
}
.menu_button_black_template_animation_div.reverse{
    transition: 0.5s 1s linear;
    transform: translateY(-100%);
}
.menu_button_white_template_animation_div{
    position: absolute;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: 0.5s 1s linear;
    transform: translateY(-100%);
    overflow: hidden;
}
.menu_button_white_template_animation_div.active{
    transform: translateY(0%);
    overflow: hidden;
}
.menu_button_white_template_animation_div.reverse{
    transition: 0.5s 0.5s linear;
    transform: translateY(-100%);
}
.main_container.active{
    display: block;
    visibility: visible;
    justify-content: center;
}

.menu_options_anchor_container{
    width: 100%;
    padding: 0 1em;
    height: 100%;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu_options_anchor_container:hover{
    background-color: black;
    color: white;
}
.menu_options_container_wbg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.menu_options_anchor_container_wbg{
    width: 100%;
    text-align: center;
}
.portfolio_picture_container{
    position: absolute;
    height: 100%;
    width: 60%;
    bottom: 0;
    left: 0;
}
.portfolio_picture{
    width: 100%;
    height: 100%;
    background-image: url('Images/portfolio_background_img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.home_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.about_me{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
    width: 40%;
}
.about_me_name{
    font-size: 1.2em;
    letter-spacing: 15px;
    /* color: #7B3F00; */
    color: #1A0014;
    text-align: right;
}
.about_me_title_role{
    font-size: 3em;
    font-weight: bold;
}
.about_me_description{
    font-size: 1.3em;
    /* color: #7B3F00; */
    color: #1A0014;
    padding: 0.2em;
    text-align: justify;
}
.about_me_common{
    margin-bottom: 10px;
}
.skills_container,.skills_container_header,.journey_container_header,.projects_container_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills_container_header,.journey_container_header,.projects_container_header{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.headers_straight_line{
    height: 2px;
    width: 40%;
    background-color: black;
}
.skills_container_header_title,.journey_container_header_title,.project_container_header_title{
    width: 20%;
}
.skills_container_header_title,.journey_container_header_title,.project_container_header_title{
    text-align: center;
    font-size: 3em;
}
.each_skill_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
.skill{
    width: 30%;
    height: 230px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.skill_logo_1{
    background: url('Images/java.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_2{
    background: url('Images/springboot.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_3{
    background: url('Images/python.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_4{
    background: url('Images/flask.png');
    background-position: center;
    background-size: 80%;
}
.skill_logo_5{
    background: url('Images/html.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_6{
    background: url('Images/css.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_7{
    background: url('Images/mysql.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_8{
    background: url('Images/informatica.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_9{
    background: url('Images/java-script.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo,.journey_logo{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
}
.my_grip_on_skill,.journeyPercentage,.journeyName,.journeyYear{
    width: 90%;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}
.journey_container_parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.journey_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.each_journey_details_common{
    width: 40%;
}
.each_journey_line_common{
    width: 10%;
}
.journey_common{
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}
.journey_startLine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    height: 50%;
    width: 3%;
    background-color: black;
}
.journey_middleLine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 110%;
    width: 3%;
    background-color: black;
}
.journey_endLine{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,0);
    height: 50%;
    width: 3%;
    background-color: black;
}
.journey_startLine_pointBall{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10%;
    width: 15%;
    border-radius: 50%;
    background-color: black;
}
.journey_school_logo{
    background: url('Images/school.png');
    background-position: center;
    background-size: 100%;
}
.journey_inter_logo{
    background: url('Images/inter.png');
    background-position: center;
    background-size: 100%;
}
.journey_college_logo{
    background: url('Images/college.png');
    background-position: center;
    background-size: 100%;
}
.journey_training_logo{
    background: url('Images/online-training.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.journey_mnc_logo{
    background: url('Images/accenture-modified.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.journey_elements{
    padding: 5px 0;
}
.schoolDetails,.collegeDetails{
    align-items: flex-start;
}
.schoolName,.schoolYear,.schoolPercentage,.collegeName,.collegeYear,.collegePercentage{
    text-align: start;
}
.interDetails{
    align-items: flex-end;
}
.interName,.interYear,.interPercentage{
    text-align: end;
}
.scroll_container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    border: 3px solid black;
    border-radius: 5px;
}
.scroll_container_dot{
    width: 4px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
    animation: moveDot 0.5s linear 0s infinite alternate-reverse;
}

@keyframes moveDot {
    from{
        transform: translateY(30%);
    }
    to{
        transform: translateY(180%);
    }
}
.common_end_div{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 1em;
}
.common_end_div:hover{
    border-bottom: 3px solid black;
}
.projects_container_parent,.projects_container_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.project{
    width: 45%;
    margin: 1em;
    height: 80vh;
    background-color: blue;
    position: relative;
}
.project_title{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40%;
    color: white;
}
.hover_div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.project:hover .project_title{
    z-index: 2;
}
.project:hover .hover_div{
    background-color: black;
    opacity: 0.5;
}
.project1{
    background: url('Images/rpggame_wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project2{
    background: url('Images/informatica-project.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project3{
    background: url('Images/tictactoe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project4{
    background: url('Images/springboot-microservices-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project5{
    background: url('Images/elemental-power.jpg');
    background-color: #2F9599;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.project6{
    background: url('Images/parallax_2d_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.a_project_link{
    position: absolute;
    width: 100%;
    height: 100%;
}
.need_developer_container{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.need_a_developer{
    letter-spacing: 5px;
    color: gray;
    font-size: 2em;
}
.lets_work_together{
    letter-spacing: 5px;
    font-size: 4em;
    font-weight: bold;
}
.projects_container_header{
    flex-direction: row;
}
.contact_container_parent{
    position: relative;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-2.5%);
    justify-content: space-evenly;
    background-color: black;
    width: 100vw;
}
.contact_common{
    color: white;
}
.contact_information,.follow_me,.latest_projects,.current_availability{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
.contact_common{
    width: 95%;
    margin: 10px 0;
}
.contact_title{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.contact_details_description,.list_of_projects,.current_availability_description{
    color: gray;
}
.copyRight{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: gray;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2px;
}
.follow_me_container{
    display: flex;
    align-items: center;
    padding: 3px 0;
}
.instagram_logo{
    background: url('Images/instagram.png');
}
.github_logo{
    background: url('Images/github_logo.png');
}
.linkedin_logo{
    background: url('Images/linkedin.png');
}
.instagram_logo,.linkedin_logo,.github_logo{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.list_of_projects a{
    text-decoration: none;
    color: white;
}
.canvas_container{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#home_canvas_id,#skill_canvas_id,#journey_canvas_id{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.onscroll_animation_hidden,.onscroll_animation_hidden_onetime{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}
.onscroll_animation_hidden_top{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}
.onscroll_animation_show_top{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
    transition: all 1s;
}
.onscroll_animation_hidden_right,.onscroll_animation_hidden_right_onetime{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}
.onscroll_animation_show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 1s;
}
.black_container_div_about_me_animation_slide{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    transform: translateX(-100%);
    transition: 1s ease-in-out;
    z-index: 10;
}
.white_container_div_about_me_animation_slide{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    transform: translateX(-100%);
    transition: 1s ease-in-out;
    z-index: 10;
}
.black_container_div_about_me_animation_slide.slide_in{
    transform: translateX(0);
}
.white_container_div_about_me_animation_slide.slide_in{
    transform: translateX(0);
}
.fixed_left_arrow_logo{
    position: absolute;
    top: 10px;
    left: 5%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background: url('Images/arrow.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about_me_profile_picture{
    position: absolute;
    top: 10px;
    right: 5%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background: url('Images/portfolio_background_img.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about_me_title{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
}
.about_me_main_container{
    margin-top: 45px;
    background-color: #EEA47FFF;
    width: 90vw;
    margin-left: 5%;
    padding: 1em;
}
.aboute_me_common_container_header{
    font-weight: bold;
    background-color: #00539CFF;
    color: white;
    padding: 1em;
}
.content_container_about_me{
    padding: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}
.namasthe_logo{
    display: inline-block;
    background: url('Images/namaste.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent; 
}
.highlight_word{
    font-weight: bold;
    color: #00539CFF;
}
.about_me_intro_pic{
    background: url('Images/about_me_intro_pic.jpeg');

}
.about_me_year_container span{
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
}
.school_and_standard_container span{
    font-weight: bold;
}
.content_container_about_me_common{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.standard_container_about_me_common{
    margin-top: 5px;
}
.about_me_grad__pic{
    background: url('Images/graduation_picture.jpeg');
}
.about_me_accenture_employee__pic{
    background: url('Images/accenture_employee_pic.jpeg');
}

.about_me_pic_common{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_container_hobbies_about_me{
    margin: 1em 0;
}
.content_container_hobbies_about_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about_me_common_div_hobby_container{
    position: relative;
    width: 45%;
    height: 50vh;
    margin: 2.5% 2.5%;
}
.cricket_bg_pic{
    background: url('Images/cricket_image.jpg');
}
.skating_bg_pic{
    background: url('Images/skating_image.jpg');
}
.chess_bg_pic{
    background: url('Images/chess_image.jpg');
}
.movie_bg_pic{
    background: url('Images/movie_buff_image.jpg');
}
.biker_bg_pic{
    background: url('Images/Biker_image.jpg');
}
.about_me_common_div_hobby_container_complete_content{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
.about_me_common_div_hobby_container_bg_pic{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_me_common_div_hobby_container_bg_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}
.onscroll_animation_hidden_right_onetime a{
    border: 2px solid black;
}
.fixed_header_about_me{
    display: none;
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    background-color: white;
}
.fixed_header_about_me.show{
    display: block;
}
.fixed_header_about_me_internal{
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    background-color: white;

}
@media screen and (max-width: 450px) {
    .inline_menu_container{
        display: none;
    }
    .logo_container{
        padding: 2px;
    }
    .logo_name{
        font-size: 0.8em;
    }
    .logo_role{
        font-size: 0.5em;
    }
    .logo_symbol_content{
        width: 30px;
        height: 30px;
        border: 3px solid black;
        border-radius: 50%;
        font-size: 0.8em;
        padding: 3px;
    }
    .menu_button_container{
        display: flex;
    }
    .about_me_name{
        font-size: 0.8em;
        letter-spacing: 8px;
    }
    .about_me_title_role{
        font-size: 1.5em;
    }
    .about_me_common{
        margin-bottom: 5px;
    }
    .about_me_description{
        font-size: 0.8em;
    }
    .skills_container_header_title,.journey_container_header_title,.project_container_header_title{
        font-size: 1.5em;
    }
    .skill{
        width: 40%;
        height: 175px;
        margin: 10px;
    }
    .my_grip_on_skill,.journeyPercentage,.journeyName,.journeyYear{
        font-size: 0.75em;
    }
    .journey_elements{
        padding: 3px 0;
    }.journey_common{
        height: 190px;
    }
    .journey_startLine{
        width: 3%;
    }
    .journey_middleLine{
        width: 3%;
    }
    .journey_startLine_pointBall{
        height: 5%;
        width: 15%;
    }
    .project{
        width: 100%;
        margin: 10px;
        height: 40vh;

    }
    .project1{
        background-position: right;
    }
    .project2{
        background-position: left;
    }
    .project_title{
        font-size: 0.8em;
    }
    .need_a_developer{
        font-size: 1em;
    }
    .lets_work_together{
        font-size: 1.5em;
    }
    .need_developer_container{
        margin: 1.5em 0;
    }
    .contact_container_parent{
        margin-top: 1em;
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
    }
    .contact_information,.follow_me,.latest_projects,.current_availability{
        width: 80%;
        margin-top: 5px;
    }
    .follow_me{
        margin-bottom: 2em;
    }
    .contact_title{
        font-size: 1.5em;
    }
    .portfolio_picture_container{
        height: 50%;
        width: 100%;
        top: 0;
    }
    .about_me{
        height: 50%;
        width: 100%;
        align-items: center;
        bottom: 0;
    }
    .scroll_container{
        position: static;
    }
    .header_container{
        margin-top: 0.5em;
        padding: 0.5em 0;
    }
    
    .headers_straight_line{
        width: 35%;
    }
    .skills_container_header_title,.journey_container_header_title,.project_container_header_title{
        width: 30%;
    }
    .role_title_header,.role_accomplishments_header, .role_skill_header, .role_certificate_header{
        font-size: 0.80em;
    }
    .informatica_mdm_project_div_slide_header h2,.crossButton{
        font-size: 1.3em;
    }
    .menu_options_anchor_container{
        height: 10%;
    }
    .informatica_mdm_project_div_slide_content_container{
        width: 90%;
    }
.content_container_about_me{
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
.about_me_pic_common{
    height: 50vh;
}
.about_me_common_div_hobby_container{
    width: 100%;
    height: 30vh;
    margin: 2.5% 0;
}
.about_me_common_div_hobby_container_bg_pic{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content_container_hobbies_about_me{
    flex-direction: column;
}
} 