*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.main_container_parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main_container{
    width: 95%;
    margin-top: 1em;
}
.header_container{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.logo_container{
    display: flex;
    padding: 1em;
}
.logo_symbol_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 5px;
    font-weight: bolder;
}
.column_name_container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_name{
    font-size: 1.3em;
    font-weight: bold;
}
.logo_role{
    font-size: 1.2em;
    font-weight: 100;
}
.inline_menu_container{
    display: flex;
    align-items: center;
    margin: 0 1em;
}
.menu_button_container{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    justify-content: center;
}
.menu_button_line1,.menu_button_line2,.menu_button_line3,
.menu_button_line_wbg_1,.menu_button_line_wbg_2,.menu_button_line_wbg_3{
    width: 22px;
    height: 2.5px;
    background-color: black;
    margin-bottom: 3px;
    transition: 0.3s linear;
}
.menu_button_line1.active,.menu_button_line_wbg_1{
    transform: translateY(1.25px) rotate(45deg);
    margin-bottom: 0;
}
.menu_button_line_wbg_1.active,.menu_button_line_wbg_3.active{
    animation: reverseAnimationLine13 0.5s linear;
}
@keyframes reverseAnimationLine13 {
    0%{

    }
    50%{
        transform: translateY(0) rotate(0);
        margin-bottom: 3px;
    }
    100%{
        transform: translateY(0) rotate(0);
        margin-bottom: 3px;
    }
}
.menu_button_line2.active,.menu_button_line_wbg_2{
    display: none;
    margin-bottom: 0;
}
.menu_button_line_wbg_2{
    display: block;
    position: absolute;
    bottom: 9.5px;
    opacity: 0;
}
.menu_button_line_wbg_2.active{
    animation: reverseAnimationLine2 0.5s linear;
}
@keyframes reverseAnimationLine2 {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.menu_button_line3.active,.menu_button_line_wbg_3{
    transform: translateY(-1.25px) rotate(-45deg);
    margin-bottom: 0;
}
.menu_button{
    border: none;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.menu_button_black_template_animation_div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.5s 0.5s linear;
    transform: translateY(-100%);
    overflow: hidden;
}
.menu_button_black_template_animation_div.active{
    transform: translateY(0%);
}
.menu_button_black_template_animation_div.reverse{
    transition: 0.5s 1s linear;
    transform: translateY(-100%);
}
.menu_button_white_template_animation_div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s 1s linear;
    transform: translateY(-100%);
    overflow: hidden;
}
.menu_button_white_template_animation_div.active{
    transform: translateY(0%);
    overflow: hidden;
}
.menu_button_white_template_animation_div.reverse{
    transition: 0.5s 0.5s linear;
    transform: translateY(-100%);
}
.main_container.active{
    display: none;
}

.menu_options_anchor_container{
    padding: 0.5em;
    margin: 0 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu_options_anchor_container:hover{
    background-color: black;
    color: white;
    border-radius: 0.5em;
}
.menu_options_container_wbg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.menu_options_anchor_container_wbg{
    width: 100%;
    text-align: center;
}
.portfolio_picture_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50%;
}
.portfolio_picture{
    width: 350px;
    height: 100%;
    margin: 1em;
    background-image: url('Images/PortfolioBackgroundPicture.jpeg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.home_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83%;
    margin-bottom: 1em;
}
.about_me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
    width: 50%;
}
.about_me_name{
    font-size: 1.2em;
    letter-spacing: 15px;
    color: gray;
    text-align: right;
}
.about_me_title_role{
    font-size: 3em;
    font-weight: bold;
}
.about_me_description{
    font-size: 1.3em;
    color: rgb(85, 84, 84);
    padding: 0.2em;
    text-align: justify;
}
.about_me_common{
    margin-bottom: 10px;
}
.skills_container,.skills_container_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills_container_header_title,.journey_container_header_title,.project_container_header_title{
    text-align: center;
    font-size: 3em;
}
.each_skill_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
.skill{
    width: 30%;
    height: 230px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.skill_logo_1{
    background: url('Images/java.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_2{
    background: url('Images/springboot.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_3{
    background: url('Images/python.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_4{
    background: url('Images/flask.png');
    background-position: center;
    background-size: 80%;
}
.skill_logo_5{
    background: url('Images/html.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_6{
    background: url('Images/css.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_7{
    background: url('Images/mysql.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_8{
    background: url('Images/informatica.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo_9{
    background: url('Images/java-script.png');
    background-position: center;
    background-size: 100%;
}
.skill_logo,.journey_logo{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
}
.my_grip_on_skill,.journeyPercentage,.journeyName,.journeyYear{
    width: 90%;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}
.journey_container_parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
}
.journey_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.each_journey_details_common{
    width: 40%;
}
.each_journey_line_common{
    width: 10%;
}
.journey_common{
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}
.journey_startLine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    height: 50%;
    width: 3%;
    background-color: black;
}
.journey_middleLine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 110%;
    width: 3%;
    background-color: black;
}
.journey_endLine{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,0);
    height: 50%;
    width: 3%;
    background-color: black;
}
.journey_startLine_pointBall{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10%;
    width: 15%;
    border-radius: 50%;
    background-color: black;
}
.journey_school_logo{
    background: url('Images/school.png');
    background-position: center;
    background-size: 100%;
}
.journey_inter_logo{
    background: url('Images/inter.png');
    background-position: center;
    background-size: 100%;
}
.journey_college_logo{
    background: url('Images/college.png');
    background-position: center;
    background-size: 100%;
}
.journey_training_logo{
    background: url('Images/online-training.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.journey_mnc_logo{
    background: url('Images/accenture-modified.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.journey_elements{
    padding: 5px 0;
}
.schoolDetails,.collegeDetails{
    align-items: flex-start;
}
.schoolName,.schoolYear,.schoolPercentage,.collegeName,.collegeYear,.collegePercentage{
    text-align: start;
}
.interDetails{
    align-items: flex-end;
}
.interName,.interYear,.interPercentage{
    text-align: end;
}
.scroll_container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15px;
    height: 20px;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 5px;
    border: 3px solid black;
    border-radius: 5px;
}
.scroll_container_dot{
    width: 4px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
    animation: moveDot 0.5s linear 0s infinite alternate-reverse;
}

@keyframes moveDot {
    from{
        transform: translateY(30%);
    }
    to{
        transform: translateY(180%);
    }
}

.about_end_div{
    margin-right: 2em;
}
.common_end_div{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 1em;
}
.common_end_div:hover{
    border-bottom: 3px solid black;
}
.projects_container_parent,.projects_container_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.project{
    width: 45%;
    margin: 1em;
    height: 80vh;
    background-color: blue;
    position: relative;
}
.project_title{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40%;
    color: white;
}
.hover_div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.project:hover .project_title{
    z-index: 2;
}
.project:hover .hover_div{
    background-color: black;
    opacity: 0.5;
}
.project1{
    background: url('Images/rpggame_wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project2{
    background: url('Images/informatica-project.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project3{
    background: url('Images/tictactoe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project4{
    background: url('Images/springboot-microservices-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.a_project_link{
    position: absolute;
    width: 100%;
    height: 100%;
}
.need_developer_container{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.need_a_developer{
    letter-spacing: 5px;
    color: gray;
    font-size: 2em;
}
.lets_work_together{
    letter-spacing: 5px;
    font-size: 4em;
    font-weight: bold;
}
.contact_container_parent{
    position: relative;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-2.5%);
    justify-content: space-evenly;
    background-color: black;
    width: 100vw;
}
.contact_common{
    color: white;
}
.contact_information,.follow_me,.latest_projects,.current_availability{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
.contact_common{
    width: 95%;
    margin: 10px 0;
}
.contact_title{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.contact_details_description,.list_of_projects,.current_availability_description{
    color: gray;
}
.copyRight{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: gray;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2px;
}
.follow_me_container{
    display: flex;
    align-items: center;
    padding: 3px 0;
}
.instagram_logo{
    background: url('Images/instagram.png');
}
.linkedin_logo{
    background: url('Images/linkedin.png');
}
.instagram_logo,.linkedin_logo{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.list_of_projects a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 450px) {
    .home_container{
        height: 85%;
    }
    .inline_menu_container{
        display: none;
    }
    .portfolio_picture_container{
        height: 60vh;
    }
    .logo_container{
        padding: 2px;
    }
    .logo_name{
        font-size: 0.8em;
    }
    .logo_role{
        font-size: 0.5em;
    }
    .logo_symbol_content{
        width: 30px;
        height: 30px;
        border: 3px solid black;
        border-radius: 50%;
        font-size: 0.8em;
        padding: 3px;
    }
    .menu_button_container{
        display: flex;
    }
    .about_me_name{
        font-size: 0.8em;
        letter-spacing: 8px;
    }
    .about_me_title_role{
        font-size: 1.5em;
    }
    .about_me_common{
        margin-bottom: 5px;
    }
    .about_me_description{
        font-size: 0.8em;
    }
    .skills_container_header_title,.journey_container_header_title,.project_container_header_title{
        font-size: 1.5em;
    }
    .skill{
        width: 40%;
        height: 175px;
        margin: 10px;
    }
    .my_grip_on_skill,.journeyPercentage,.journeyName,.journeyYear{
        font-size: 0.75em;
    }
    .journey_elements{
        padding: 3px 0;
    }.journey_common{
        height: 190px;
    }
    .journey_startLine{
        width: 3%;
    }
    .journey_middleLine{
        width: 3%;
    }
    .journey_startLine_pointBall{
        height: 5%;
        width: 15%;
    }
    .scroll_container{
        bottom: 5em;
    }
    .project{
        width: 100%;
        margin: 10px;
        height: 40vh;

    }
    .project1{
        background-position: right;
    }
    .project2{
        background-position: left;
    }
    .project_title{
        font-size: 0.8em;
    }
    .need_a_developer{
        font-size: 1em;
    }
    .lets_work_together{
        font-size: 1.5em;
    }
    .need_developer_container{
        margin: 1.5em 0;
    }
    .contact_container_parent{
        margin-top: 1em;
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
    }
    .contact_information,.follow_me,.latest_projects,.current_availability{
        width: 80%;
        margin-top: 5px;
    }
    .follow_me{
        margin-bottom: 2em;
    }
    .contact_title{
        font-size: 1.5em;
    }
} 